/* xxxxxxxxxxxxxxxxxxxxxxxxx MEDIA QUERIES xxxxxxxxxxxxxxxxxxxxxxx*/

/* Under 1600px */
  @media screen and (min-width: 1600px) {
    .web_main-container {padding-left: 550px;}
    } 

  @media screen and (max-width: 1600px) {
    .web_main-container{padding-left:500px;}
    .web_blockquote {max-width: 45%;margin: 0 0 .5em 1em;} 
    } 
  @media screen and (max-width: 1400px) {
    .web_fullheader, .web_end-article-container {padding: 0 2em;}
    #web_oecd-container .breadcrumb {padding: 0 3.5em;}
    .web_main-container{padding-left:400px;}
    .web_btn-toc-content{width:350px;}
    .web_article{max-width:750px;}
   } 
   
    @media screen and (min-width: 1201px) {
    .web_toc-hidden{display: block;}
    .web_btn-toc-title{display:none;}
    } 
    
    @media screen and (max-width: 1200px) {
    .web_main-container {padding-left: 0;}
    .web_article {margin: 0 auto;font-size: 1em;}
    .web_btn-toc-content{width:400px;padding: 2em .3em 3em .5em;}
    .web_article{max-width:800px;}
    .web_blockquote-text{font-size:1.2em;}
    .web_end-article {padding-left: 0;}
  	.web_box-container > .web_blk-expand.web_blk-expand-down {padding-left:.5em;}
    .web_blk-expand.web_blk-expand-down {max-width:940px;}
    .web_blk-expand.web_blk-expand-full-page {max-width:100%;padding:.5em .5em .5em 39px} 
    } 
    
    @media screen  and (min-width: 290px) and (max-width:1024px) {
        .web_btn-empty {display:none}
    }
    @media screen  and (min-width: 120px) and (max-width:1300px) {
        .web_blockquote {max-width: 100%;margin: 2em 2em 2em 0;font-size:.9em;float: none;}
    }
    
  @media screen and (max-width: 1024px) {
    #web_oecd-container .breadcrumb{margin: 1em auto;}
    .web_fullheader{margin-top: 1em;padding: 0;}
    .web_end-article-container{padding: 0;}
    #web_oecd-container .breadcrumb {padding: 1em;}
    .web_toc-close{left:0.5em;}
    .web_oecd-logo-white{width:18%;}
    .web_oecd-logo-white-img{width: 100%;height: auto;}
    .web_oecd-covid{height:90px;}
    div.web_oecd-covid.web_oecd-covid-fixed{height:50px;}
    .web_covid-white-logo{width: 43%;}
    .web_covid-white-logo-img{width: 100%;height: auto;max-width: 340px;}
    .web_covid-color-logo{width:30%}
    .web_header-img{height:90px;background-size:90%;}
    .web_header-img-fixed{background-size: 50%;height: 50px;}
    .web_oecd-covid{height:90px;}
    .web_oecd-logo-white-img-fixed{height:30px;width: auto;}
    .web_covid-white-logo-img-fixed{height:30px;width: auto;}
} 
  @media screen and (min-width: 768px) and (max-width: 1000px) {
    .web_article{padding: 0 15px 0 30px}
  	.web_box-container > .web_blk-expand.web_blk-expand-down {padding-left:0em;}
    .web_blk-expand.web_blk-expand-down {width:100%;margin-left:0em; padding-left:0em}
    .web_blk-expand.web_blk-expand-full-page {width:100%;margin-left:0em;padding:.5em .5em .5em 39px}
    .web_table-style p {margin: .1em .1em}
    .web_table-style th,
    .web_table-style td  {font: normal normal .938em/1.4 "Noto Sans Display", sans-serif; margin:.05em 0; padding: .0 .07em; border:1px solid #c3d2e6;} 
    .web_concept {opacity:0; overflow:hidden; visibility: hidden; height:0;}
    .web_countries {opacity:0; overflow:hidden; visibility: hidden; height:0;}
	} 
  @media screen and (max-width: 767px){ 
    #web_oecd-container .breadcrumb {display: none;}
    .web_fullheader{margin-top: 2em;}
    .web_headline-link{margin-left: -26px;}
    #web_oecd-container a.web_a-titleheader{padding: 0 0.3em 0.1em 0.6em;}
    #web_oecd-container .web_titleheader-serial-title-fixed a.web_a-titleheader{padding: 0 0.3em 0.1em 0.6em;}
    .web_article{padding: 0 2em 0 2em}
    .web_titleheader-title{font-size:2em;}
    .web_titleheader-title-fixed{font-size:15px;}
    .web_figure-button{display: none;}
    .web_header-img{height:80px;background-size:65%;}
    .web_header-img-fixed{background-size: 50%;height: 50px;}
    .web_oecd-covid{height:80px;}
    .web_oecd-logo-white{display: none;}
    .web_covid-white-logo{width: 55%;padding-left: 1.5em;min-width: 270px;max-width: 300px;}
    .web_covid-white-logo-img-fixed{max-height: 26px;width: auto;}
    .web_covid-color-logo{width:25%}
    .web_disclaimer-open{margin-bottom:45px;}
    .web_ref-pop{margin-left: -35px;}
    .web_metadata-div{margin: 4em auto 0 auto;}
    .web_metadata-body{font-size:0.7em;}
    .web_metadata-btn-div{margin: 2em auto 0 auto;}
    .web_metadata-div .web_metadata-body div.web_metadata-btn-div{font-size:1.1em;}
    .web_metadata-div .web_metadata-body p{margin-top:0.4em;}
    .web_metadata-cover{width: 40%}
    .web_disclaimer-body{font-size: 0.8em;}
    .web_ref-pop {bottom: 45px}
    .web_main-container p {margin: .2em 0;}
	.web_main-container .web_biblio-container p {margin: .2em 0 0 1em;}
	.web_btn-empty {display:none}
    .web_box-container > .web_blk-expand.web_blk-expand-down {padding-left:0;}
    .web_blk-expand.web_blk-expand-down {width:100%;max-width:768px;padding-left:0em}
    .web_blk-expand.web_blk-expand-full-page {width:100%;left:0;padding:0 1em 0 39px}
    .web_table-style p {margin: .1em .1em}
	.web_table-style {background:white}
	.web_table-style th,
	.web_table-style td {font: normal normal .938em/1.4 "Noto Sans Display", sans-serif; margin:.05em 0; padding: .0 .07em; border:1px solid #c3d2e6;}
	.web_table-heading, .web_table-subheading,
	.web_figure-heading, .web_figure-subheading{text-align:left;}
	.web_blk-expand-full-page .web_table-responsive {
    width: 100%;
    margin-bottom: 16.5px;
    /*overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;*/
    border: 1px solid #dddddd;
    overflow: auto;
    height: 100vh;
    padding-bottom: 2em;
  }
  .web_table-responsive > .table {
    margin-bottom: 0;
  }
  .web_table-responsive > .table > thead > tr > th,
  .web_table-responsive > .table > tbody > tr > th,
  .web_table-responsive > .table > tfoot > tr > th,
  .web_table-responsive > .table > thead > tr > td,
  .web_table-responsive > .table > tbody > tr > td,
  .web_table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .web_table-responsive > .table-bordered {
    border: 0;
  }
  .web_table-responsive > .table-bordered > thead > tr > th:first-child,
  .web_table-responsive > .table-bordered > tbody > tr > th:first-child,
  .web_table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .web_table-responsive > .table-bordered > thead > tr > td:first-child,
  .web_table-responsive > .table-bordered > tbody > tr > td:first-child,
  .web_table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .web_table-responsive > .table-bordered > thead > tr > th:last-child,
  .web_table-responsive > .table-bordered > tbody > tr > th:last-child,
  .web_table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .web_table-responsive > .table-bordered > thead > tr > td:last-child,
  .web_table-responsive > .table-bordered > tbody > tr > td:last-child,
  .web_table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .web_table-responsive > .table-bordered > tbody > tr:last-child > th,
  .web_table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .web_table-responsive > .table-bordered > tbody > tr:last-child > td,
  .web_table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  	}
    .web_concept {opacity:0; overflow:hidden; visibility: hidden; height:0;}
    .web_countries {opacity:0; overflow:hidden; visibility: hidden; height:0;}
	}
  @media screen  and (min-width: 290px) and (max-width: 414px) {
   .web_toc-chapter > .web_toc-item-block{display:block;}
   .web_metadata-cover{width: 40%}
  .web_toc-open{padding:0;}
  .web_btn-fullnav-top-cyc span {display: none;}
  .web_btn-empty {display:none}
  .web_main-container p {margin: .2em 0;}
  .web_main-container .web_biblio-container p {margin: .2em 0 0 1em;}
  .web_aside-illus {max-width:140px;vertical-align: middle;} 
  .web_btn-toc-content {height:calc(99vh - 6.250rem);width: 100%;}
  .web_btn-toc-content-mobile{position: fixed;z-index: 15;height: 100vh !important;}
  .web_btn-toc-title {width: calc(100% - 15px);}
  .web_btn-toc-title-mobile{top: 0;position: fixed;z-index: 16;}
  .web_toc-title, .web_toc-chapter  {font-size:1em;}
  .web_btn-view {display:none}
  .web_figure-button{display: none;}
  .web_box-container > .web_blk-expand.web_blk-expand-down {padding-left:0;}
  .web_blk-expand.web_blk-expand-full-page  {max-width: 100%; max-height: 100%; right: inherit; padding: 0 1em 0 39px}
  .web_table-style p {margin: .1em .1em}
    .web_concept {opacity:0; overflow:hidden; visibility: hidden; height:0;}
    .web_countries {opacity:0; overflow:hidden; visibility: hidden; height:0;}
     }
     
