<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- this is for the server side caching -->
        <caching enabled="true" enableKernelCache="true">
            <profiles>
                <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
                <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
                <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
            </profiles>
        </caching>

        <staticContent>
            <remove fileExtension=".webp" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <!-- this is for the client-side caching -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>
        </staticContent>
                <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
